@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  box-shadow: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

:root {
  --main-white: #fff;
  --primary-white: rgb(241, 245, 248);
  --primary-red: #c23616;
  --primary--black: #333;
  --primary-gray: #555;
  --primary-font-gray: #444;
  --primary-light-gray: #dcdde1;
  --font-open-blue: rgb(150, 181, 241);
  --primary-dark-blue: rgb(16, 43, 95);
  --primary--blue: rgb(29, 74, 165);
  --primary--green: rgb(37, 157, 49);
}

body {
  perspective: 800px;
}

header {
  margin: 0;
  width: 100%;
  height: 800px;
  background-color: var(--primary--blue);
  margin-bottom: 5rem;
}

.menu {
  width: 100%;
  min-width: 670px;
  max-width: 1260px;
  padding: 1.5rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.menu .logo {
  width: 160px;
  height: 80px;
  background-color: var(--primary--blue);
}
.menu .logo > .logo-svg {
  width: 160px;
  height: 80px;
  font-size: 32px;
  font-weight: 500;
  line-height: 75px;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;

  /*   object-fit: cover;
  opacity: 0.7;
  box-shadow: 1px 2px 3px var(--main-white);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 2);
  border-radius: 2px; */
}

.menu > .nav-links,
.menu > .contact {
  display: flex;
}
.menu > .nav-links > li,
.menu > .contact > li {
  position: relative;
}

.menu li {
  padding: 0 5px;
}

.menu li > a {
  padding: 10px;
}
.dropdown {
  position: absolute;
  top: 30px;
  width: 180px;
  background-color: var(--main-white);
  color: var(--primary--blue);
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.dropdown > li {
  padding: 10px 5px;
}
.dropdown > li > a {
  color: var(--primary--blue);
  padding: 5px 0;
  padding: 10px 15px;
  white-space: nowrap;
  border-radius: 5px;
}
.dropdown > li:hover {
  background-color: rgb(240, 240, 241);
  border-radius: 15px;
}
.nav-links > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.contact {
  justify-content: center;
  align-items: center;
}

.contact > li {
  padding: 0 5px;
  position: relative;
}

.contact > li .sign-in {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-size: 16px;
}
.contact > li .demo {
  background-color: white;
  color: var(--primary--blue);
  margin-left: 8px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 17px;
  padding: 9px 15px;
}
.contact > li .demo:hover {
  background-color: rgb(240, 240, 241);
}
.contact > li {
  margin-left: 8px;
}

.contact > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.cross {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 27px;
  display: none;
}

.nav-down {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.nav-down .nav-p {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 40px;
  margin-bottom: 40px;
}
.nav-down .nav-p-2 {
  max-width: 700px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.nav-down > button {
  color: var(--primary--blue);
  font-size: 16px;
  padding: 15px 25px;
  background-color: var(--main-white);
  border: none;
  box-shadow: none;
  border-radius: 25px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.nav-down > button > span {
  font-size: 17px;
  color: var(--primary--blue);
  margin-right: 5px;
  font-weight: 500;
}
.nav-down > button:hover {
  background-color: rgb(240, 240, 241);
}
.pics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 670px;
}

.banner {
  margin-left: 10%;
  text-align: left;
  padding-bottom: 11rem;
}
.banner > p {
  font-size: 42px;
  color: var(--font-open-blue);
  white-space: nowrap;
  padding-left: 2rem;
  font-weight: 300;
}
.banner > p > span {
  font-weight: 400;
  animation: colorChange 3s ease forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    color: var(--font-open-blue);
  }
  100% {
    color: var(--main-white);
  }
}

.card-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  background-color: var(--main-white);
  height: 26rem;
  width: 21rem;
  border-radius: 10px;
  padding: 0rem 5rem;
  z-index: 10;
  position: relative;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3), 0px 0px 50px rgba(0, 0, 0, 0.4);
}

.card-img-con {
  width: 21rem;
  height: 12rem;
  position: absolute;
  top: o;
  left: 0;
}

.card-img-con > img {
  width: 21rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.card-details {
  position: absolute;
  height: 14rem;
  bottom: 0;
  left: 0;
  padding: 2rem 1rem;
}

.card-details > .p-card {
  color: var(--primary-font-gray);
  line-height: 20px;
  font-size: 15px;
  max-width: 90%;
  margin: 1.2rem 0;
}
.card-details > .card-btn {
  color: var(--main-white);
  font-size: 14px;
  padding: 10px 15px;
  background-color: var(--primary--green);
  border: none;
  box-shadow: none;
  border-radius: 8px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.card-details > .card-btn:hover {
  background-color: rgb(71, 168, 81);
}

/* marquuee */

section.marq {
  margin: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: rgb(250, 250, 250);

}

/* section explainn */
section.explain {
  margin: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
section.explain > p {
  line-height: 20px;
  font-size: 15px;
  max-width: 90%;
  margin-bottom: 1rem;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

section.explain > .explain-p-1 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
  opacity: 0.9;
  color: var(--primary--blue);
}
section.explain > .explain-p-2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: var(--primary-font-gray);
}

/* section-info */

.section.info {
  margin: 0;
}
.info-container {
  max-width: 1260px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  min-width: 670px;
}
.info-details {
  padding: 1rem;

  padding-top: 4rem;
  background-image: linear-gradient(to right, #fff, rgb(202, 211, 228));
}

.info-details > h1 {
  color: var(--primary-font-gray);
  margin-bottom: 1rem;
  font-weight: 500;
  opacity: 0.9;
}
.info-details > .info-p {
  color: var(--primary-font-gray);
  max-width: 400px;
  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.info-details > a {
  color: var(--primary--blue);
  max-width: 400px;
  text-decoration: underline;
}

/* section-tab */

section.tab {
  margin: 0;
  width: 100%;
  margin-top: 10rem;
}

section.tab > .tab-container {
  color: var(--primary-font-gray);
  width: 900px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  min-width: 670px;
}
.btns-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btns-con > .tab-button {
  letter-spacing: 3px;
  border: none;
  padding: 30px 20px;
  background-color: #dff6ef;
  opacity: 0.9;
  font-size: 18px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: var(--primary--blue);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.btns-con > .tab-button:hover {
  background-color: #d3f6ec;
}
.tab-button.active {
  background-color: var(--main-white);
}
.active {
  background-color: var(--main-white);
}

.tab-content {
  display: block;
  padding: 2rem 1rem;
}
.content {
  display: none;
  justify-content: center;
  align-items: center;
}
.tab-content > .content > .artic-container {
  width: 420px;
  height: 230px;
}
.tab-content > .content > .artic-container > img {
  width: 420px;
  height: 230px;
  object-fit: cover;
  opacity: 0.9;
  /* border: 2px solid hsl(205, 78%, 60%); */
  border-radius: 10px;
}

/* rgb(47,116,231) */

.arct-details > .arct-h {
  color: hsl(205, 78%, 60%);
  margin-top: 2rem;
  font-weight: 500;

  text-align: right;
  font-size: 24px;
  margin-bottom: 2rem;
}
.arct-details > .arct-p {
  color: #444;

  letter-spacing: 0.5px;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-align: right;
}
.arct-details > .arct-p > a {
  color: var(--primary--blue);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.content.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.nav-buildings {
  width: 320px;
  height: 320px;
  background-image: url(./buildings.svg);
  background-repeat: no-repeat;
  background-size: 320px 320px;
  opacity: 0.9;
  margin-left: 10rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  transition: all 2s ease-in;
}

.buildings-anima {
  animation: title 1s ease;
  animation-iteration-count: 1;
}
@keyframes title {
  0% {
    transform: translateX(-100%) rotate(60deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
/* foot section */
.foot {
  background-color: var(--primary--blue);
  width: 100%;
  height: 350px;
  margin-top: 4rem;
}
.foot-container {
  max-width: 1260px;
  margin: 0 auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 0 1rem;
  padding-top: 4rem;
  color: rgb(215, 225, 245);
  min-width: 670px;
}

.foot-container > .foot-arc > .foot-p {
  padding-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid rgb(215, 225, 245);
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: rgb(197, 213, 244);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: color 0.2s ease;
}

.foot-ul > li {
  padding-bottom: 0.8rem;
  color: rgb(197, 213, 244);
}
.foot-ul > li > a {
  color: rgb(197, 213, 244);
  transition: color 0.2s ease;
}
.foot-ul > li > a:hover,
.foot-container > .foot-arc > .foot-p:hover {
  color: rgb(150, 181, 241);
}
#foot-logo {
  color: var(--main-white);
  border: none;
  font-size: 20px;
  transition: all 0.7s ease;
}
#foot-logo:hover {
  transform: skewY(15deg);
  color: var(--font-open-blue);
}

/* footer */

footer {
  width: 100%;
  height: 70px;
  background-color: rgb(16, 43, 95);
  border-top: 3px solid rgb(94, 116, 136);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-con {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-con a {
  color: var(--main-white);
  font-weight: inherit;
  font-size: 14px;
  padding: 7px 25px;
  border-right: 1px solid rgb(202, 202, 202);
  cursor: pointer;
  white-space: nowrap;
  opacity: 0.8;
}

.footer-con > a:hover {
  color: var(--font-open-blue);
}

@media (max-width: 930px) {
  .menu {
    width: 100%;
    max-width: 1260px;
    padding: 0;
    padding-top: 1.5rem;
    height: auto;
    display: block;
    margin-bottom: 4rem;
  }

  .menu .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
  }
  .cross {
    display: block;
    padding-right: 1.5rem;
    cursor: pointer;
  }

  .menu .contact {
    overflow: hidden;
    visibility: hidden;
    display: none;
  }
  .menu .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    background-color: var(--main-white);
    color: var(--primary--blue);
    overflow: hidden;
    height: 0;
    transition: height 0.7s ease-in-out;
  }

  .menu > .nav-links > li {
    padding: 0.8rem 1.5rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .menu > .nav-links > li:hover {
    background-color: var(--font-open-blue);
  }
  .menu > .nav-links > li > a {
    color: var(--primary--blue);
  }
  .dropdown {
    display: none;
    overflow: hidden;
  }

  .menu .navHeight {
    height: 178px;
  }
  .pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .banner {
    display: none;
  }

  .tab-content > .content > .artic-container {
    width: 420px;
    height: 230px;
    display: none;
  }
  .content.active {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  section.tab > .tab-container {
    color: var(--primary-font-gray);
    width: 690px;
    max-width: 6900px;
    margin: 0 auto;
    text-align: center;
    min-width: 670px;
  }
}

@media (max-width: 1060px) {
  .banner {
    margin-left: 4%;
  }
  .banner > p {
    font-size: 36px;
  }
}
